@{
  Layout = "_Layout";
}

@model Library.Models.Book;
@using Library.Models

<h4>Create a new book</h4>

<p>@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Pages, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Copies, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)
  <br>
  <br>
  @Html.LabelFor(model => model.Author)
  @Html.TextBoxFor(model => model.Author)
  <br>
  <br>
  @Html.LabelFor(model => model.Year)
  @Html.TextBoxFor(model => model.Year)
  <br>
  <br>
  @Html.LabelFor(model => model.Genre)
  @Html.TextBoxFor(model => model.Genre)
  <br>
  <br>
  @Html.LabelFor(model => model.Pages)
  @Html.TextBoxFor(model => model.Pages)
  <br>
  <br>
  @Html.LabelFor(model => model.Copies)
  @Html.TextBoxFor(model => model.Copies)
  <br>
  <br>
  <input type="submit" value="Create new book" class="btn btn-primary"/>
}
<br>
<p>@Html.ActionLink("Back to book list", "Index")</p>
<p>@Html.ActionLink("View book list", "Index", "Books")</p>