@{
  Layout = "_Layout";
}

@using Library.Models
@model List<Checkout>

<h2>Overdue Books</h2>
<hr>

@if (@Model.Count != 0)
{
  <h4>The following books are overdue:</h4>
  <ul>
    @foreach (Checkout checkout in Model)
    {
      <li>@checkout.Book.Title - @Html.ActionLink($"{@checkout.Patron.Name}", "Details", "Patrons", new { id = checkout.Patron.PatronId })</li>
    }
  </ul>
}
else
{
  <h4>There are no overdue books.</h4>
}

<p>@Html.ActionLink("Back to book list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

