@{
  Layout = "_Layout";
}

@using Library.Models
@* @using System.Collections.Generic; *@
@* @model Library.Models.Book *@
@using System;

<h2>Overdue Books</h2>
<hr>

@if (@Model.JoinClasses.OverdueDate > @Model.JoinClasses.DueDate)
{
  <h4>The following books are overdue:</h4>
  <ul>
    @foreach (Checkout join in Model.Checkout.JoinClasses)
    {
      <li>@join.Book.Title:
        <br>
        Checked out by @join.Patron.Name on @join.CheckoutDate
        <br>Due on @join.DueDate
      </li>
    }
  </ul>
}
else
{
  <h4>There are no overdue books.</h4>
}

