@{
  Layout = "_Layout";
}

@using Library.Models;

<h1>Local Library</h1>

<h2>Manage books and authors for your local library system</h2>

<hr/>

<h4>Books</h4>
@if (Model["books"].Length == 0)
{
  <p>No books have been added yet.</p>
}

<ul>
  @foreach (Book book in Model["books"])
  {
    <li>@Html.ActionLink(@book.Title, "Details", "Books", new { id = @book.BookId })</li>
  }
</ul>

<h4>Authors</h4>
@if (Model["authors"].Length == 0)
{
  <p>No authors have been added yet.</p>
}

<ul>
  @foreach (Author author in Model["authors"])
  {
    <li>@Html.ActionLink(@author.Name, "Details", "Authors", new { id = @author.AuthorId })</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage books", "Index", "Books")</p>
<p>@Html.ActionLink("Manage authors", "Index", "Authors")</p>
<p>@Html.ActionLink("Search for a book by author", "SearchAuthor", "Books")</p>
<p>@Html.ActionLink("Search for a book by title", "SearchTitle", "Books")</p>