@{
  Layout = "_Layout";
}

@model Library.Models.Author
@using Library.Models

<h2>Add a book</h2>

<p><strong>Note: you must have at least one book in the library's system in order to add it to an author.</strong></p>
<p><strong>Go to @Html.ActionLink("this page", "Create", "Books") to create a book.</strong></p>

<h4>Add a book to this author: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)
  @Html.Label("Select book")
  @Html.DropDownList("BookId")
  <input type="submit" class="btn btn-primary" value="Add"/>
}

<p>@Html.ActionLink("Back to author list", "Index")</p>