@{
  Layout = "_Layout";
}

@model Library.Models.Author
@using Library.Models

<h4>Create a new author</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class="text-danger", @style="font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Biography, "", new { @class="text-danger", @style="font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  <br>
  @Html.LabelFor(model => model.Biography)
  @Html.TextBoxFor(model => model.Biography)
  <br>
  <br>
  <input type="submit" value="Create new author" class="btn btn-primary"/>
}
<br>
<p>@Html.ActionLink("View all authors", "Index")</p>